venv/
.vscode

**/__pycache__/
**/migrations/
db.sqlite3
media/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

gitCredentials.csv

**/private.key
**/cutypenguin.crt